<%= form_with(local: true, method: 'get', path: root_path) do |form| %>
  <table>
    <tr>
      <td>
        <div class="field">
          <%= form.label :first_name %>
          <%= form.text_field :first_name %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.label :url %>
          <%= form.text_field :url %>
        </div>
      </td>
      <td>
        <div class="actions">
          <%= form.submit "Search" %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
